{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation envoyé{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>E-mail envoyé</h1>

    <p>
        Si un compte correspondant à votre adresse e-mail existe, un message vient de vous être envoyé. 
        Il contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
    </p>
    
    <p>
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>

    <p>
        Si vous ne recevez pas d'e-mail, merci de vérifier votre dossier "Courriers indésirables" (spams) ou 
        <a href="{{ path('app_forgot_password_request') }}">réessayez de nouveau</a>.
    </p>
</div>
{% endblock %}